/* Hero.css */
.hero {
  height: 100vh;
  background: url('c:\Users\Mahdi\.vscode\React\first-app\public\images\Header\city.jpg') no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;

  text-align: left;
  margin-left: 80px;
  line-height: 3.5rem;
}

.greeting {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #dab0c2;
}

.name {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.first-name {
  color: white;
}

.last-name {
  color: red;
}

.profession {
  font-size: 24px;
  margin-top: 10px;
}

.profession strong {
  font-weight: bold;
}