/* Header.css */
body{
  font-family: sans-serif;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* حذف رنگ پس‌زمینه */
  position: absolute;            /* شناور روی Hero */
  top: 0;
  width: 94%;
  z-index: 1000;
  padding: 1.5rem 2.5rem;
  color: white;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  color: white;
}

.logo .highlight {
  color: red;
}

.nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav a:hover {
  color: red;
}

.subscribe-btn {
  background-color: #ff1c51;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #aa062c;
}