.about-section {
  width: 100%;
  padding: 80px 0;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
}

.about-container {
  width: 85%;
  max-width: 1150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 450px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 6px;
}

.about-text{
  flex: 1;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.about-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.about-text p {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.7;
  color: #dab0c2;
  margin-bottom: 30px;
}

.highlight {
  color: #ff1c42;
}

.about-button {
  background-color: #ff1c51;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-button:hover {
  background-color: #aa062c;
}